<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/styles/style.css">
    <title>Document</title>
</head>

<body>

<div class="nav-container">

    <nav>
        <ul>
            <li><a href="#">Статья</a></li>
            <li><a href="#">Обсуждение</a></li>
        </ul>
    </nav>

    <nav>
        <ul >
            <li><a href="#">Читать</a></li>
            <li><a href="#">Текущая версия</a></li>
            <li><a href="#">Править</a></li>
            <li><a href="#">Править код</a></li>
            <li><a href="#">История</a></li>
            <input type="text" placeholder="Поиск">
        </ul>
    </nav>



</div>



<div class="container">

    <h1><a href="#">HTML</a></h1>

    <div class="img-container">
        <div class="title">HTML</div>
        <div class="html-logo"><img src="/static/img/HTML5_logo_and_wordmark.svg.png"></div>
        <div class="html-big-logo"><img src="/static/img/HTML.svg.png"></div>
    </div>

    <p><a href="#">HTML</a> (от англ. HyperText Markup Language — «язык гипертекстовой разметки») — стандартизированный
        язык
        гипертекстовой
        разметки документов для просмотра веб-страниц в браузере. Веб-браузеры получают <a href="#">HTML</a> документ от
        сервера по
        протоколам HTTP/HTTPS или открывают с локального диска, далее интерпретируют код в интерфейс, который будет
        отображаться на экране монитора.</p>

    <p>Элементы <a href="#">HTML</a> являются строительными блоками <a href="#">HTML</a> страниц. С помощью <a href="#">HTML</a>
        разные конструкции, изображения и другие
        объекты, такие как интерактивная веб-форма, могут быть встроены в отображаемую страницу. <a href="#">HTML</a>
        предоставляет средства
        для создания заголовков, абзацев, списков, ссылок, цитат и других элементов. Элементы <a href="#">HTML</a>
        выделяются тегами,
        записанными с использованием угловых скобок. Такие теги, как img и input, напрямую вводят контент на страницу.
        Другие теги, такие как
        p, окружают и оформляют текст внутри себя и могут включать другие теги в качестве подэлементов. Браузеры не
        отображают
        <a href="#">HTML</a>-теги, но используют их для интерпретации содержимого страницы.</p>

    <p>Язык X<a href="#">HTML</a> является более строгим вариантом <a href="#">HTML</a>, он следует синтаксису XML и
        является приложением языка XML в
        области разметки гипертекста.</p>

    <p>В <a href="#">HTML</a> можно встроить программный код на языке программирования JavaScript, для управления
        поведением
        и содержанием
        веб-страниц. Также включение CSS в <a href="#">HTML</a> описывает внешний вид и макет страницы.</p>

    <div class="list-card">
        <p>Содержание</p>
        <ol>
            <li><a href="#">Общее представление</a></li>
            <li><a href="#">Браузеры</a></li>
            <li><a href="#">Версии</a></li>
            <li><a href="#">Структура</a> <a href="#">HTML</a>-документа</li>
            <li><a href="#">Рекомендуется</a>
                <ol>
                    <li><a href="#">Семантические теги</a></li>
                    <li><a href="#">Специальные символы</a></li>
                </ol>
            </li>
            <li><a href="#">Браузерные войны</a></li>
            <li><a href="#">См.также</a></li>
            <li><a href="#">Примечания</a></li>
            <li><a href="#">Литература</a></li>
            <li><a href="#">Ссылки</a></li>
        </ol>
    </div>


    <p>Язык гипертекстовой разметки <a href="#">HTML</a> был разработан британским учёным Тимом Бернерсом-Ли
        приблизительно
        в 1986—1991
        годах в стенах ЦЕРНа в Женеве в Швейцарии[3]. <a href="#">HTML</a> создавался как язык для обмена научной и
        технической
        документацией, пригодный для использования людьми, не являющимися специалистами в области вёрстки. <a
                href="#">HTML</a> успешно
        справлялся с проблемой сложности SGML путём определения небольшого набора структурных и семантических элементов
        —
        дескрипторов. Дескрипторы также часто называют «тегами». С помощью <a href="#">HTML</a> можно легко создать
        относительно простой, но
        красиво оформленный документ. Помимо упрощения структуры документа, в <a href="#">HTML</a> внесена поддержка
        гипертекста.
        Мультимедийные возможности были добавлены позже.</p>
    <p>Первым общедоступным описанием <a href="#">HTML</a> был документ «Теги <a href="#">HTML</a>», впервые упомянутый
        в
        Интернете Тимом Бернерсом-Ли в
        конце 1991 года,[4][5]. В нём описываются 18 элементов, составляющих первоначальный, относительно простой дизайн
        <a href="#">HTML</a>. За исключением тега гиперссылки, на них сильно повлиял SGMLguid, внутренний формат
        документации, основанный на
        стандартном обобщенном языке разметки (SGML), в CERN. Одиннадцать из этих элементов всё ещё существуют в <a
                href="#">HTML</a>
        4[6].</p>
    <p>Изначально язык <a href="#">HTML</a> был задуман и создан как средство структурирования и форматирования
        документов
        без их привязки к
        средствам воспроизведения (отображения). В идеале, текст с разметкой <a href="#">HTML</a> должен был без
        стилистических и
        структурных искажений воспроизводиться на оборудовании с различной технической оснащённостью (цветной экран
        современного компьютера, монохромный экран органайзера, ограниченный по размерам экран мобильного телефона или
        устройства и программы голосового воспроизведения текстов). Однако современное применение <a href="#">HTML</a>
        очень
        далеко от его
        изначальной задачи. Например, тег
        table предназначен для создания в документах таблиц, но иногда используется и для оформления размещения
        элементов на
        странице. С течением времени основная идея платформонезависимости языка <a href="#">HTML</a> была принесена в
        жертву
        современным
        потребностям в мультимедийном и графическом оформлении.</p>

</div>


</body>


</html>